{% extends 'adminTemplate.html.twig' %}

{% block adminAboutPageLinkStyle %}
    current_page
{% endblock %}

{% block main %}
    <h2>About Kings Speech</h2>
    <p>
        Kings Speech is a play about King George VI who found it really hard to manage with his stammer.<br>
        He had a wife Queen Elizabeth who insisted him to meet with Lionel Logue who was originally from australia.<br>
        Also known as bertie by King George's family. Lionel Logue's role is to help King George VI with his stammer problems.<br>
        The relationship between the two aren't so great but when things get tough the both are there for one another.<br>
    </p>

    <iframe width="1250" height="450"
            src="http://www.youtube.com/embed/p1TubkzxPFY?autoplay=1">
    </iframe>

    <h2>
        Here is a video of King George VI making a speech (Stutter)
    </h2>

{% endblock %}
