{% extends '_template.html.twig' %}

{% block adminGalleryPageLinkStyle %}
    current_page
{% endblock %}

{% block main %}
    <h2>Trailer</h2>

    <p>This is a short trailer of the movie that was to made to replicate the play King's Speech</p>
    <iframe width="1250" height="450"
            src="http://www.youtube.com/embed/kYoSQkfrjfA?autoplay=1">
    </iframe>
{% endblock %}
