{% extends '_template.html.twig' %}

{% block contactPageLinkStyle %}

{% endblock %}

{% block main %}
    <h2> Contact Us </h2>

    <p><strong>If you have any recommendations feel free to contact us</strong>
    <p>Email: <a href="mailto:B00097640@yahoo.ie">B00097640@yahoo.ie</a>
    <p>Telephone: 045123456</p>
{% endblock %}
